<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Weather</title>
    <link rel='icon' href='static/images/icon.ico' type='image/png'/>
	<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"
    />
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            What's the weather like?
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <form method="POST">
              {% csrf_token %}
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input
                    class="input"
                    type="text"
                    placeholder="City Name"
                    name="city"
                  />
                </div>
                <div class="control">
                  <button class="button is-info">
                    Add City
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    {% if city %}
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <img
                      src="http://openweathermap.org/img/w/{{ icon }}.png"
                      alt="Image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span class="title">{{ city }}</span>
                      <br />
                      <span class="subtitle">{{ temperature }}° C</span>
                      <br />
                      {{ description }}
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% elif flag %}
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <div class="box" style="border:2px solid rgb(255, 71, 71); background-color: rgb(247, 226, 212)">
              <article class="media" >
                <span style="color: red">City-name not found !</span>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

	{% else %}

    {% endif %}
    <footer class="footer" style="position: fixed;left:0 ;bottom: 0;width:100%"></footer>
  </body>
</html>
